<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Deskly-MacOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>534F6F5A1DFADC6C00A6389C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>534F6F691DFADC6C00A6389C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>534F6F741DFADC6C00A6389C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
